* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

aside {
    background-color: #ffffff;
    width: 4%;
    border-right: 1px #EAEAEA solid;
    padding: 0rem 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    height: 100vh;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.hr{
    width: 100%;
    height: 2px;
    background-color:#EAEAEA ;
}

.logo {
    margin-top: 30%;
}

.icon {
    background: #F9F9F9;
    padding: 0.5rem;
    border-radius: 10px;
}

.icon-chat {
    background: #10A37F;
    padding: 0.6rem;
    border-radius: 10px;
}

.marker {
    width: 15%; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.box-mark{
    width: 82px; 
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: #1E1F22;
}



.nav-link {
    display: block;
    position: relative;
    padding: 0.5rem 0;
}

.nav-item {
    width: 30%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



.page {
    display: flex;
    padding: 0px 20px;
    overflow-y: auto;
    scrollbar-color: red #F9F9F9;
    scrollbar-width: none;
}

.head-page {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.title-page {
    font-weight: bold;
    font-size: 25px;
}

.btn-chat-add,
.btn-chat-menu {
    width: 1.5rem;
    background: #23C69E;
    color: #ffffff;
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.btn-page-chat{
    width: 1.5rem;
    background: #EFEFEF;
    color: #1E1F22;
    padding: 5px;
    border-radius: 10px;
    margin-right:  10px;
}

.tab {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #EEEEEE;
    width: 100%;
    height: 4rem;
    border-radius: 10px;
}

.tab-chats,
.tab-saved {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.tab-chats {
    width: 46%;
    background: #FFFFFF;
    height: 83%;
    border-radius: 10px;
    color: #14B48D;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.tab-saved {
    width: 50%;
}

.tab-chats svg,
.tab-saved svg {
    width: 15px;
    margin-right: 10px;
}

.tab-chats span{
    background: #8A8A8A1C;
    margin-left: 10px;
    padding: 1px 2px;
    border-radius: 5px;
    color: #14B48D;
}

.tab-saved span{
    background: #8A8A8A1C;
    margin-left: 10px;
    padding: 1px 2px;
    border-radius: 5px;
}

.box-search {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px 0px;
}

.box-search-chat{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px 7rem;
}

.box-search img {
    width: 25px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px; 
    background-color: #EFEFEF;
}

.mic  {
    width: 15px;
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px; 
    background-color: #FFFFFF;
}

.search {
    position: relative;
    width: 90%;
}

.search-chat{
    position: relative;
    width: 86%;
}

.search input[type="text"] {
    width: calc(100% - 25px); 
    height: 40px;
    padding-left: 30px;
    background: #EFEFEF;
    border: none; 
    border-radius: 10px;
}

.search-chat input[type="text"] {
    width: calc(100% - 25px); 
    height: 60px;
    padding-left: 60px;
    background: #fff;
    border: none; 
    border-radius: 10px;
}

.search svg {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    fill: none;
    stroke: #575B65;
    width: 20px;
    height: 20px;
}

.magic{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 35px;
}

.send{
    position: absolute;
    top: 60%;
    right: -20px;
    transform: translateY(-80%);
    fill: none;
    stroke: #575B65;
    width: 20px;
}

.search-chat ::placeholder{
    color: #A0A7BB;
}

.search ::placeholder{
    color: #575B65;
    font-weight: bold;
}

.box-chats{
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.box-chats-two{
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    background-color: #E3FEF7;
}

.title-chat{
    display: flex;
    align-items: center;
}

.title-chat img {
    padding-right: 10px;
}

.chat-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time{
    color: #5F5F5F99;
    font-size: 16px;
    font-weight: bold;
}

.description-chat{
    color:#6D717C ;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 10px 10px 25px;
}

.head-page-chat{
    width: 100%;  
    display: flex;
    justify-content: space-between;
}

.title-page-chat{
    font-weight: bold;
    font-size: 1.4rem;

}

.page-chat{
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.div-chat{
    width: 100%;
    height: 89%;
    background: #EFEFEF;
    border-radius: 10px;
    margin-top: 10px;
    overflow-y: auto;
    scrollbar-width: none;
}

.user-massage{
    margin: 10px 7rem;
}

.user-massage-two{
    margin: 0px 7rem;
}

.profile-time{
    display: flex;
}

.profile-time img { 
    margin-bottom: -15px;
    margin-right: 10px;
}


.profile-time p span {
    font-size: 0.8em;
    color: #999;
}

.massage-box-user {
    background-color: #FFFFFF;
    padding: 27px;
    border-radius: 15px;
    width: fit-content;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.massage-box-user img{
    margin-left: 10px;
    width: 13px;
}

.massage-box-bot{
    background-color: #D8EFE9;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.massage img {
    margin-left: 10px;
    width: 15px;
}

.bot-massage{
    margin: 10px 7rem;
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.arrow p{
    font-size: 14px;
    font-weight: 200;
    padding: 0px 5px;
}

.arrow svg { 
    width: 10px;
    background-color:#E6E6E6 ;
    padding: 2px;
}

.box-proflie{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.tools{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.reaction{
    display: flex;
    height: 20px;
    background-color: #B0D7CD;
    border-radius: 20px;
    padding: 2px;
}

.smiley{
    margin-right: 10px;
}

.options{
    display: flex;
}

.generate{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B0D7CD;
    padding: 5px 15px;
    border-radius: 10px;
    margin-right: 20px;
}

.generate svg { 
    margin-right: 10px;
    width: 10px;
    height: 10px;
}

.save{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B0D7CD;
    padding: 5px;
    border-radius: 10px;
    margin-right: 20px;
}

.save svg{
    width: 20px;
    height: 20px;
}

.date-massege{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    margin: 0px 7rem;
}

.date-massege p {
    color:#8E8E8E99 ;
    padding: 0px 15px;
    font-size: small;
}

.hr-date-massege{
    width: 100%;
    height: 1px;
    background-color:#B7B7B7 ;
}

/* toggle dark and light */

.toggle {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;    
}

.toggle-slider {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20px;
    height: 60px;
    background-color: #E2E2E2;
    padding: 10px;
    border-radius: 15px;
}

.toggle-slider svg { 
    width: 14px;
    padding: 10px 0;
    cursor: pointer;
}

.toggle-slider svg:first-child { 
    background-color: #E2E2E2;
    padding: 5px;
    border-radius: 10px;
}

.toggle-slider svg:last-child.active { 
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 10px;
}

/* dark mode */

body.dark-mode {
    background-color: #282A2E;
    color: #fff;
}

.dark-mode .hr{
    background-color: #2D2E30;
}

.dark-mode aside{
    background-color: #1E1F22;
    border-right: 1px #1E1F22 solid;

}

.dark-mode .icon{
    background-color: #2b2a2a;
}

.dark-mode .toggle-slider{
    background-color:#3F424A ;
}


.dark-mode .toggle-slider svg:first-child.active { 
    background-color: #64666D;
}

.dark-mode .btn-chat-menu{
    background-color: #1E1F22;
}

.dark-mode .tab { 
    background-color: #3F424A;
}

.dark-mode .tab-chats{
    background-color: #1E1F22;
}

.dark-mode .search input[type="text"]{
    background-color:#3F424A ;
}

.dark-mode .box-search img{
    background-color:#1E1F22 ;
}

.dark-mode .time {
    color: #ABABAB99;
}

.dark-mode .box-chats-two { 
    background-color: #1E1F22;
}

.dark-mode .div-chat{
    background-color:#3F424A ;
}

.btn-page-chat{
    background-color: #1E1F22;
    color: white;
}

.dark-mode .massage-box-user{
    background-color: #4B4F5B ;
}

.dark-mode .arrow p { 
    color: #ABABAB99;
}

.dark-mode .arrow svg {
    background-color: #282A2E;
}

.dark-mode .massage-box-bot{
    background-color: #28303F;
}

.dark-mode .reaction{
    background-color: #202633;
}

.dark-mode .generate{
    background-color: #202633;
}

.dark-mode .save { 
    background-color: #202633;
}

.dark-mode .generate svg{
    color: #868FA7;
}

.dark-mode .save svg {
    color: #868FA7;
}

.dark-mode .search-chat input[type="text"]{
    background-color: #4B4F5B;
}

.dark-mode .mic{
    background-color: #4B4F5B;
}

.dark-mode .date-massege p {
    color: #ABABAB99;
}

.dark-mode .hr-date-massege { 
    background-color: #4B4F5B;
}

/* responsive */

@media only screen and (max-width: 768px) {
    .nav-item {
        width: 100%;
    }

    .page {
        flex-direction: column;
    }

    .title {
        font-size: 20px; 
    }


    .btn-chat-add,
    .btn-chat-menu {
        width: 1rem; 
        padding: 5px;
    }

    .tab-chats,
    .tab-saved {
        font-size: 14px;
    }
}


@media screen and (max-width: 1300px) {
    .marker {
        width: 15%;
    }
    .box-mark{
        width: 70px; 
    }
}

@media screen and (max-width: 1000px) {
    .marker {
        width: 15%; 
    }
    .box-mark{
        width: 60px; 
    }
}
